@import "./components/home.css";
@import "./components/pages/Account.css";
@import "./components/pages/indexPage.css";

.section_reg {
    width: 100%;
    background-color: white;
    color: #e8ad65;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form_reg {
    /* background-color: white; */
    /* padding: 10px; */
    border-radius: 8px;
    display: flex;
    background-color: #ffffff;
    color:#000000;
    flex-direction: column;/*
    border : 1px solid rgb(0, 0, 0); */
    row-gap: 5px;
    font-size: larger;
    align-items: center;
    margin : 10px 15px 20px 25px;
}
.input_reg {
    width: 300px;
    height: 40px;
    margin-bottom: 5px;
    padding: 8px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    text-indent: 15px;
    outline: none;
  }

.btn{
    width:320px;
    background-color:var(--orange);
    text-transform: uppercase;
    padding: 10px 50px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
    align-items: flex-start;
    border-radius: 10px;
}

.btn:hover{
    background-color:var(--yellow)
}

a{
    color: rgb(0, 0, 0);
    text-decoration: underline;
    font-weight: bold;
}

.not-found{
    width:100%;
    text-align: center;
}
.nf{
    border: 1px solid white;
    width: 40%;
}

